<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}document{%endblock%}</title>
{% load static %}
<link rel="stylesheet" href="{% static "zay.css" %}">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NK4WTKFG');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<footer class="footer">
    <div class="footer-div">
        <p>
            Copyright &copy; 2021 Company Name 
            | Designed by <a rel="sponsored" href={% static "https://templatemo.com"%} target="_blank">TemplateMo</a>
        </p>   
    </div>
</footer>


</body>
</html>