<!DOCTYPE html>
<html lang="en">
<head>
    <title>index Page</title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NK4WTKFG');</script>
  <!-- End Google Tag Manager -->

</head>
<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK4WTKFG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <h1>Index Page</h1>
    <p>This page is as a Django Template</p>
    {% comment %} <li><a href="book/thebook1">thebook1</a></li> {% endcomment %}
    <ol>
    {% for i in books %}
     <li><a href={{i}}>{{i}}</a></li>
    
     {% comment %} <li><a href="{%url bookpages i%}">{{i}}</a></li> // for name{% endcomment %}
    {% endfor %}
    </ol>
    
</body>
</html>
