<html>  
    <head>
      <title>Login Page</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <meta name="google" content="notranslate" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />

      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NK4WTKFG');</script>
  <!-- End Google Tag Manager -->

    </head> 
<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK4WTKFG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <form action="/book/loginpage" method="post">
        <h2 class="mx-4 mt-2">login page</h2><hr>
        {% csrf_token %}
        <label class="mx-2 col-md-1" for="">Email :</label>
        <input class="col-md-2" type="email" name="email" >
        <br/><br/>
          <label class="mx-2 col-md-1" for="">Password :</label>
          <input class="col-md-2" type="password" name="password">
        <br/>
        
        <button class="btn btn-primary mt-3 mx-5 col-md-1" type="submit">Login</button>
        <a button class="btn btn-primary mt-3 col-md-1" href="{% url 'registration' %}" type="submit">Sign up</a></button>
        
      </form>
</body>
</html>