<html>  
    <head>
      <title>Login Page</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <meta name="google" content="notranslate" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-8VQZVB71PL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8VQZVB71PL');
      </script>

    </head> 
<body>
    <form action="/book/loginpage" method="post">
        <h2 class="mx-4 mt-2">login page</h2><hr>
        {% csrf_token %}
        <label class="mx-2 col-md-1" for="">Email :</label>
        <input class="col-md-2" type="email" name="email" >
        <br/><br/>
          <label class="mx-2 col-md-1" for="">Password :</label>
          <input class="col-md-2" type="password" name="password">
        <br/>
        
        <button class="btn btn-primary mt-3 mx-5 col-md-1" type="submit">Login</button>
        <a button class="btn btn-primary mt-3 col-md-1" href="{% url 'registration' %}" type="submit">Sign up</a></button>
        
      </form>
</body>
</html>