<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th, td{
            border:1px solid black;
            border-collapse:collapse;
            padding:10px;
            margin:10px;
        }
    </style>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NK4WTKFG');</script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK4WTKFG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>F_name</th>
            <th>Roll_no</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        {% for i in students %}
      
      <tr>
        <td>{{i.id}}</td>
        <td>{{ i.name }}</td> 
        <td>{{i.f_name}} </td> 
        <td>{{i.roll_no}}</td> 
     
        <td><button><a href={% url "update" i.id %}>update</a></button></td>
        <td><button><a href={% url "delete" i.id %}>Delete</a></button></td>
     </tr>
      
        {% endfor %}
    </table>
</body>
</html>